doctype html
html(lang="en")  
  head
    title=title
    meta(charset="UTF-8")
    meta(name="description")
    meta(name="keywords")
    meta(http-equiv="X-UA-Compatible"   content="IE=edge")
    meta(name="viewport" content="initial-scale=1, width=device-width, height=device-height, viewport-fit=cover, user-scalable=no")
    meta(name="author" content=author)
    meta(name="area.size"   content="width=320,height=480")
    meta(name="ad.size"   content="width=320,height=480")
    link(rel="stylesheet" href="../tmp/css/all.css" inline)
  body(ondragstart="return false;" ondrop="return false;")
    img#progress(alt="progress" src=preloaderImg)
    #main
      #pixi
    script(src="../libs/gsap.js" inline)
    script(src="../libs/pixi.js" inline)
    script(src="../libs/pixi_filters.js" inline)
    script(src="../libs/howler.js" inline)
    script(src="../tmp/js/index.js" inline)
